rules_version = '2';
service cloud.firestore { // Cấu hình cho Firestore
  match /databases/{database}/documents {

    // Cho phép bất kỳ ai cũng có thể đọc và ghi vào collection 'task_groups'
    match /task_groups/{groupId} {
      allow read, write: if true;
    }

    // Cho phép đọc/ghi vào collection chức vụ
    match /roles/{roleId} {
      allow read, write: if true;
    }

    // Cho phép đọc/ghi vào collection cửa hàng
    match /stores/{storeId} {
      allow read, write: if true;
    }

    // Cho phép đọc/ghi vào collection trạng thái cửa hàng
    match /store_statuses/{statusId} {
      allow read, write: if true;
    }

    // Cho phép đọc/ghi vào các collection liên quan đến nhân viên
    match /staff/{staffId} {
      allow read, write: if true;
    }
    match /employee/{employeeId} {
      allow read, write: if true;
    }
    match /area_managers/{managerId} {
      allow read, write: if true;
    }
    match /regional_managers/{managerId} {
      allow read, write: if true;
    }
    match /employee_statuses/{statusId} {
      allow read, write: if true;
    }
    match /staff_statuses/{statusId} {
      allow read, write: if true;
    }

    // Cho phép đọc/ghi vào các collection khu vực và miền
    match /areas/{areaId} {
      allow read, write: if true;
    }
    match /regions/{regionId} {
      allow read, write: if true;
    }

    // Cho phép đọc/ghi vào collection lịch làm việc và mẫu
    match /schedules/{scheduleId} {
      allow read, write: if true;
    }

    // Cho phép đọc/ghi vào collection mẫu lịch hàng ngày
    match /daily_templates/{templateId} {
      allow read, write: if true;
    }

    // Cho phép đọc/ghi vào collection đăng ký ca làm việc của nhân viên
    match /staff_availability/{availabilityId} {
      allow read, write, delete: if true;
    }

    // Cho phép đọc/ghi vào collection phân công công việc
    match /work_assignments/{assignmentId} {
      allow read, write: if true;
    }

    // Cho phép đọc/ghi vào collection vị trí công việc
    match /work_positions/{positionId} {
      allow read, write: if true;
    }
  }
}
