rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {

    // Cho phép bất kỳ ai cũng có thể đọc và ghi vào collection 'task_groups'
    match /task_groups/{groupId} {
      allow read, write: if true;
    }

    // Cho phép bất kỳ ai cũng có thể đọc và ghi vào collection 'main_tasks'
    match /main_tasks/{taskId} {
      allow read, write: if true;
    }

    // Cho phép bất kỳ ai cũng có thể đọc và ghi vào collection 'task_areas'
    match /task_areas/{areaId} {
      allow read, write: if true;
    }

    // Cho phép bất kỳ ai cũng có thể đọc và ghi vào collection 'stores'
    match /stores/{storeId} {
      allow read, write: if true;
    }

    // Cho phép đọc/ghi vào collection trạng thái cửa hàng
    match /store_statuses/{statusId} {
      allow read, write: if true;
    }

    // Cho phép đọc/ghi vào collection chức vụ
    match /roles/{roleId} {
      allow read, write: if true;
    }

    // Cho phép đọc/ghi vào các collection nhân viên và trạng thái nhân viên
    match /employee/{employeeId} {
      allow read, write: if true;
    }
    match /area_managers/{managerId} {
      allow read, write: if true;
    }
    match /regional_managers/{managerId} {
      allow read, write: if true;
    }
    match /employee_statuses/{statusId} {
      allow read, write: if true;
    }

    // Cho phép đọc/ghi vào các collection khu vực và miền
    match /areas/{areaId} {
      allow read, write: if true;
    }
    match /regions/{regionId} {
      allow read, write: if true;
    }

    // Cho phép đọc/ghi vào collection lịch làm việc
    match /schedules/{scheduleId} {
      allow read, write: if true;
    }

    // Cho phép đọc/ghi vào collection mẫu lịch hàng ngày
    match /daily_templates/{templateId} {
      allow read, write: if true;
    }
  }
}
